{%- if providers|length -%}
    <ul class="list-unstyled">
        <li>{{ 'sign_in_label'|trans({}, 'PEOAuth2Client') }}</li>
        {%- for button in buttons -%}
            <li>
                {{ button|raw }}
            </li>
        {%- endfor -%}
    </ul>
{%- endif -%}